**Calculator**

In [1]:
1.0 + 1.0/2.0 + 1.0/3.0 + 1.0/4.0 + 1.0/5.0 + 1.0/6.0 + 1.0/7.0 + 1.0/8.0

2.7178571428571425

In [3]:
price = 250
price//100

2

In [4]:
price%100

50

In [5]:
price = 5632
price[1]

TypeError: ignored

In [6]:
price = [5,6,3,2]

In [7]:
price=5632

In [8]:
dollar=int(price/100)

In [9]:
print(dollar)

56

In [10]:
cent=int(price%100)

In [11]:
print(cent)

32

In [16]:
print(dollar, "dollars","and", cent, "cents")

56 dollars and 32 cents

In [17]:
w=100
h=67

In [18]:
BMI = ((w)/((h)*(h)))*703
print(BMI)

15.66050345288483

In [21]:
rain = True
hot = True
if rain:
  print("bring an umbrella")
  print("good day")
elif hot:
  print("sunscreen")
else:
  print("as usual")

bring an umbrella
good day

In [23]:
i=50
if i<50:
  print("bring an umbrella")
  print("good day")
elif i == 50:
  print("sunscreen")

sunscreen

In [25]:
x, y = 43, 88

if y > x:
  max_num=y
elif y<x:
  max_num=x
else:
  max_num=x
  print("x and y are equal")

print(max_num)

88

In [24]:
x, y, z = 32, 56, -100
min_num = x
if y > min_num:
  min_num = z
print (min_num)

-100

In [29]:
12.670-2.5

10.17

In [32]:
x,y,x=36,38,-100
min_num = x
if y<min_num:
  min_num=y
elif z<min_num:
  min_num=z

print(min_num)

-100

In [42]:
age=30
minors=15
adults=20
seniors=65
if age< 18:
  minors += 1
elif age < 65:
  adults += 1
else:
  seniors += 1
print("minors={}, adults={}, senior={}". format(minors,adults,seniors))

minors=15, adults=21, senior=65

In [55]:
n=10
while n<=0:
  print(n)
  n = n+1

In [56]:
n=10
while n>0:
  print(n)
  n=n-1

10
9
8
7
6
5
4
3
2
1

In [57]:
s=1+2+3+...+100

TypeError: ignored

In [58]:
n=100
while n>0:
  print(n)
  n=n-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [61]:
i=1
s=0

while i<=100:
  s=s+1
  i+=1
print(s)

100